body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

header {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #f1f1f1;
}

 table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

a {
    text-decoration: none;
}

input[type="submit"] {
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Dégradé bleu et violet */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background 0.4s, transform 0.2s;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb); /* Inverse les couleurs pour le survol */
    transform: scale(1.05);
}

input[type="submit"]:active {
    background: linear-gradient(to right, #1e40af, #5b21b6); /* Couleurs plus sombres pour l'activation */
    transform: scale(0.95);
}

.purchase{
    background-color: rgb(69, 238, 111);
}
.sell{
    background-color: rgb(235, 83, 83);
}